<Configuration>

    <Appenders>

        <Console name="CONSOLE">
            <PatternLayout pattern="%p - %m%n"/>
        </Console>

        <File name="TOFILE" fileName="logs/main.log">
            <PatternLayout pattern="%p - %m%n"/>
        </File>
        
    </Appenders>

    <Loggers>
        <Root level = "INFO">
            <AppenderRef ref="CONSOLE" level="WARN"/>
            <AppenderRef ref="TOFILE"/>
        </Root>
    </Loggers>
</Configuration>